@model IEnumerable<Instructor>
@{
    ViewData["Title"] = "Instructors";
}


<div class="text-center">
    <h1 class="display-4">Instructors</h1>

    <table class="table">
        <tr>
          <th>@Html.DisplayNameFor(x => x.First().ID)</th>
          <th>@Html.DisplayNameFor(x => x.First().LastName)</th>
          <th>@Html.DisplayNameFor(x => x.First().FirstMidName)</th>
          <th>@Html.DisplayNameFor(x => x.First().HireDate)</th>
        </tr>
        @foreach(var instructor in Model) {
          <tr>
            <td>@Html.DisplayFor(x => instructor.ID)</td>
            <td>@Html.DisplayFor(x => instructor.LastName)</td>
            <td>@Html.DisplayFor(x => instructor.FirstMidName)</td>
            <td>@Html.DisplayFor(x => instructor.HireDate)</td>
            <td>
                <a class="btn btn-primary" asp-action="InstructorsCourses" asp-route-id="@instructor.ID">Courses</a>
            </td>
          </tr>
        }
    </table>
</div>
